<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Pergamon System Playground</title>
    <meta content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/cde/theme.css">
    <link rel="stylesheet" type="text/css" href="/css/cde/skins/broica-4.css">
  </head>
  <body class="flex-column" style="height: 100%;">
    <main class="desktop padding grow" style="max-width: 100%; position: relative; overflow: hidden">
      <div class="window" style="width: 800px; height: 600px;">
        <div class="title-bar">
          <div class="title-bar-text">
            Untitled - Notepad
          </div>
          <div class="title-bar-buttons">
	    <button data-minimize></button>
            <button data-maximize></button>
	    <button data-close></button>
          </div>
        </div>
        <div class="window-body flex-column">
          <ul role="menubar">
            <li tabindex=0 aria-haspopup="true">
              <u>F</u>ile
              <ul role="menu">
                <li tabindex=0><u>N</u>ew</li>
                <li tabindex=0><u>O</u>pen</li>
                <li tabindex=0><u>S</u>ave</li>
                <li tabindex=0>Save <u>A</u>s&hellip;</li>
                <li role="separator"></li>
                <li tabindex=0>Page Se<u>t</u>up&hellip;</li>
                <li tabindex=0><u>P</u>rint</li>
                <li role="separator"></li>
                <li tabindex=0>E<u>x</u>it</li>
              </ul>
            </li>
            <li tabindex=0 aria-haspopup="true">
              <u>E</u>dit
              <ul role="menu">
                <li tabindex=0 data-shortcut="Ctrl+Z"><u>U</u>ndo</li>
                <li role="separator"></li>
                <li tabindex=0 data-shortcut="Ctrl+X">Cu<u>t</u></li>
                <li tabindex=0 data-shortcut="Ctrl+C"><u>C</u>opy</li>
                <li tabindex=0 data-shortcut="Ctrl+V"><u>P</u>aste</li>
                <li tabindex=0 data-shortcut="Del">De<u>l</u>ete</li>
                <li role="separator"></li>
                <li tabindex=0>Select <u>A</u>ll</li>
                <li tabindex=0 data-shortcut="F5">Time/<u>D</u>ate</li>
                <li role="separator"></li>
                <li tabindex=0><u>W</u>ord Wrap</li>
                <li tabindex=0>Set <u>F</u>ont&hellip;</li>
              </ul>
            </li>
            <li tabindex=0 aria-haspopup="true">
              <u>S</u>earch
              <ul role="menu">
                <li tabindex=0><u>F</u>ind</li>
                <li tabindex=0 data-shortcut="F3">Find <u>N</u>ext</li>
              </ul>
            </li>
            <li tabindex=0 class="help-menu" aria-haspopup="true">
              <u>H</u>elp
              <ul role="menu">
                <li tabindex=0><u>H</u>elp Topics</li>
                <li role="separator"></li>
                <li tabindex=0><u>A</u>bout Notepad</li>
              </ul>
            </li>
          </ul>
          <textarea class="grow" style="width: 100%; font-family: monospace; resize: none;"></textarea>
        </div>
      </div>
   </main>
    <ul id="startMenu" role="menu" class="hidden" style="width: 200px; height: 100px;">
       <li tabindex="0">Exhibits</li>
       <li tabindex="0">Operating Systems</li>
       <li tabindex="0">Programming</li>
       <li tabindex="0">Games</li>
     </ul>
   <ul role="menubar">
     <button id="start">Start</button>
   </ul>
   <script type="text/javascript" src="/javascript/wm.js"></script>
   <script>
     const button = document.getElementById('start');
     const menu = document.getElementById('startMenu');
     button.addEventListener('click', function() {
	 menu.classList.toggle('hidden');
     });
  </script>
  </body>
</html>
